<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset='utf-8'>
    <title>Личный кабинет</title>

    <link href = "css/bootstrap.min.css" rel = "stylesheet">
    <link href = "css/main.css" rel = "stylesheet">
</head>
<body>
    {% block top_navbar %} {% endblock %}
    <div class = "container">
        <div class = "row" >
            {% block user_info %} {% endblock %}
        </div>
    </div>
    <div class = "container">
        {% block old_jobs %} {% endblock %}
    </div>
    <div class = "container">
        {% block now_jobs %} {% endblock %}
    </div>
</body>
</html>